<section class="register-form mt-3">
    <div class="container-fluid">
        <div class="card border p-4">
            <div class="card-header">
                <h3 class="mb-2 text-center text-info">Register</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="country">Country:</label>
                                <select class="form-select" aria-label="Default select example" (change)="getStatebyCountry($event)">
                                    <option selected>Select Country</option>
                                    <option *ngFor="let data of countries" [value]="data.id">{{data.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="state">State:</label>
                                <select class="form-select" aria-label="Default select example" (change)="getCityByStateId($event)">
                                    <option selected>Select State</option>
                                    <option *ngFor="let data of allState" [value]="data.id">{{data.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="country">City:</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select City</option>
                                    <option *ngFor="let data of allCity">{{data.cityName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>